<div id="student_template">
    @{
        ViewBag.page = "Student";
        ViewBag.Title = "Student | List";
        Layout = "~/Views/Shared/_Layout.cshtml";
    }


    <div class="page-header text-center">
        <h2>Create</h2>
    </div>
    <form id="create_student_form" method="post" class="form-horizontal student_form" action="create" role="form" data-bind="foreach: Students">

        <div class='form-group'>
            <label class='col-sm-2 control-label'>LastName</label>
            <div class='col-sm-4'>
                <input type='text' class='form-control' name='LastName' data-bind='value: Student.LastName' />
            </div>
        </div>

        <div class='form-group'>
            <label class='col-sm-2 control-label'>FirstName</label>
            <div class='col-sm-4'>
                <input type='text' class='form-control' name='FirstName' data-bind='value: Student.FirstName' />
            </div>
        </div>

        <div class='form-group'>
            <label class='col-sm-2 control-label'>EnrollmentDate</label>
            <div class='col-sm-4'>
                <div class='input-group date' id='EnrollmentDate'>
                    <input type='text' class='form-control' name='EnrollmentDate' data-bind='datetimepicker: $parent.dateSelected' />
                    <span class='input-group-addon'>
                        <span class='glyphicon glyphicon-calendar'></span>
                    </span>
                </div>
            </div>
        </div>



        <div class="form-group">
            <div class="col-sm-offset-2 col-sm-10">
                <!-- Do NOT use name="submit" or id="submit" for the Submit button -->
                <button type="submit" class="btn btn-primary">Create</button>

            </div>
        </div>
    </form>
    <script>
        require(["/Scripts/app/Student.controller.js", "/Scripts/app/Student.binding.js", "/Scripts/app/Student.validate.js", 'utils', 'typeahead'], function (studentController, appViewModel, formValidator, utils, type) {
            utils.spinner.show();
            var promise = studentController.getStudent("00000000-0000-0000-0000-000000000000");
            promise.done(function (ajaxResult) {
                var model = ajaxResult.student;
                model.Student.HireDate = moment(model.Student.HireDate); model.Student.EnrollmentDate = moment(model.Student.EnrollmentDate);
                appViewModel.add(model);
                //set the root element
                appViewModel.rootElement = 'create_student_form';
                formValidator.initViewModel(appViewModel);
                formValidator.initValidator();
                //The typeahead
                $.each($('.autocomplete'), function (index, element) {
                    $(element).typeahead({
                        onSelect: function (item) {
                            if (item.value == '00000000-0000-0000-0000-000000000000')
                                setTimeout(function () { $(element).val(''); }, 100);
                            //the sibling holds the id
                            $(element).parent().children(':hidden:first').val(item.value).change();
                        },
                        ajax: {
                            url: '/' + $(element).attr('referencedtable') + '/search?searchField=' + $(element).attr('searchfield') + '&idField=' + $(element).attr('idfield') + '&showField=' + $(element).attr('showfield') + '&order=' + $(element).attr('order'),
                            triggerLength: 2
                        }
                    });
                });

                utils.spinner.hide();
            });


        });
    </script>
</div>
