
@{
    ViewBag.page = "Home";
    ViewBag.Title = "ScioFramework";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div class="container">


    <div class="jumbotron">
        <h1>Contoso University</h1>
        <img src="~/Content/rawlogo1.png" alt="logo" style="height:250px;" />
        <p>Rapid Application Wireframe</p>
    </div>
    <div class="row">
        <div class="col-md-4">
            <h2>Welcome to Contoso University with RAW framework</h2>
            <p>
                Contoso University is a sample application that
                demonstrates how to use RAW Framework to build a web application.
            </p>
        </div>
        <div class="col-md-4">
            <h2>Contoso University</h2>
            <p>The original Contoso University application is a sample application from Microsoft that was created as a tutorial for Asp.Net MVC 5 and Entity Framework Code First</p>
            <p>You can see the tutorial <a target="_blank" class="btn btn-info btn-sm" href="http://www.asp.net/mvc/overview/getting-started/getting-started-with-ef-using-mvc/creating-an-entity-framework-data-model-for-an-asp-net-mvc-application"> here</a>.</p>
            <p>You can download the original sample code <a target="_blank" class="btn btn-info btn-sm" href="https://code.msdn.microsoft.com/ASPNET-MVC-Application-b01a9fe8">here</a></p>
        </div>
        <div class="col-md-4">
            <h2>RAW</h2>
            <p><b>R</b>apid <b>A</b>pplication <b>W</b>ireframe Framework</p>
            <p>Developed with the Database First approach in mind, we encourage a good and clean design of the database, we think that the code first approach is good for quick creation of prototypes but not well suited for existing applications, applications that require complex schemas and most important, code first approach wastes DB computational power and features.</p>
            <p>RaW framework tutorial and documentation <a target="_blank" class="btn btn-info btn-info" href="http://pedro-ramirez-suarez.github.io/rawtemplate/">here</a></p>
        </div>

    </div>


    <br />
    <br />
</div>

