<div id="department_template">
    @{
        ViewBag.page = "Department";
        ViewBag.Title = "Department | List";
        Layout = "~/Views/Shared/_Layout.cshtml";
    }


    <input type="hidden" id="refresh" value="no">

    <h2>Details</h2>
    <div data-bind="foreach: Departments" id="details_department">
        <table class="table table">
            <thead>
                <tr>
                    <th>
                        Department
                    </th>
                </tr>
            </thead>
            <tbody>

                <tr>
                    <td>Name:</td>
                    <td>
                        <label class='display-label' data-bind='text: Department.Name'></label>
                    </td>
                </tr>
                <tr>
                    <td>Budget:</td>
                    <td>
                        <label class='display-label' data-bind='text: Department.Budget'></label>
                    </td>
                </tr>
                <tr>
                    <td>StartDate:</td>
                    <td>
                        <label class='display-label' data-bind='text: StartDate'></label>
                    </td>
                </tr>
                <tr>
                    <td>Instructor:</td>
                    <td>
                        <label class='display-label' data-bind='text: InstructorIDName'></label>
                    </td>
                </tr>

            </tbody>
        </table>

        <a data-bind="attr: {href:'/Department'}" class="btn btn-primary">Back</a>
        <a data-bind="attr: {href:'/Department/Edit/' + Department.Id}" class="btn btn-primary">Edit</a>
    </div>

    <script>
        require(["/Scripts/app/Department.controller.js", "/Scripts/app/Department.binding.js", 'utils'], function (departmentController, appViewModel, utils) {
            utils.spinner.show();
            var promise = departmentController.getDepartment("@ViewBag.id");

            promise.done(function (ajaxResult) {
                var model = ajaxResult.department;

                appViewModel.add(model);

                utils.spinner.hide();
            });
        });
    </script>
</div>
