<div id="department_template">
    @{
        ViewBag.page = "Department";
        ViewBag.Title = "Department | List";
        Layout = "~/Views/Shared/_Layout.cshtml";
    }


    <input type="hidden" id="refresh" value="no">

    <h2>Department</h2>
    <div id="index_department">
        <table class="table table-striped">
            <thead>
                <tr>

                    <th>
                        Name
                    </th>
                    <th>
                        Budget
                    </th>


                </tr>
            </thead>
            <tbody data-bind="foreach: Departments">
                <tr>

                    <td>
                        <label class='display-label' data-bind='text: Name'></label>
                    </td>
                    <td>
                        <label class='display-label' data-bind='text: Budget'></label>
                    </td>


                    <td><a data-bind="attr: {href: '/Department/Details/' + Id}">Details</a></td>
                    <td><a data-bind="attr: {href: '/Department/Edit/' + Id}">Edit</a></td>
                    <td><a data-bind="click: $parent.remove" style="cursor:pointer;" title="Delete"><code><span class="glyphicon glyphicon-trash" aria-hidden="true"></span></code></a></td>
                </tr>
            </tbody>
        </table>

    </div>
    <a href="/Department/Create" class="btn btn-primary"><span class="glyphicon glyphicon-plus" aria-hidden="true"></span> Add</a>

    <script>
        require(["/Scripts/app/Department.controller.js", "/Scripts/app/Department.binding.js", 'moment', 'utils', 'underscore'], function (departmentController, appViewModel, moment, utils, _) {
            utils.spinner.show();
            var promise = departmentController.getDepartments();

            promise.done(function (ajaxResult) {
                _.each(ajaxResult.departments, function (item) {
                    var model = ajaxResult.departments;

                    appViewModel.add(item);
                });

                utils.spinner.hide();
            });
        });
    </script>
</div>
