<div id="course_template">
    @{
        ViewBag.page = "Course";
        ViewBag.Title = "Course | List";
        Layout = "~/Views/Shared/_Layout.cshtml";
    }


    <input type="hidden" id="refresh" value="no">

    <h2>Course</h2>
    <div id="index_course">
        <table class="table table-striped">
            <thead>
                <tr>

                    <th>
                        Title
                    </th>
                    <th>
                        Credits
                    </th>
                </tr>
            </thead>
            <tbody data-bind="foreach: Courses">
                <tr>

                    <td>
                        <label class='display-label' data-bind='text: Title'></label>
                    </td>
                    <td>
                        <label class='display-label' data-bind='text: Credits'></label>
                    </td>
                    <td><a data-bind="attr: {href: '/Course/Details/' + Id}">Details</a></td>
                    <td><a data-bind="attr: {href: '/Course/Edit/' + Id}">Edit</a></td>
                    <td><a data-bind="click: $parent.remove" style="cursor:pointer;" title="Delete"><code><span class="glyphicon glyphicon-trash" aria-hidden="true"></span></code></a></td>
                </tr>
            </tbody>
        </table>

    </div>
    <a href="/Course/Create" class="btn btn-primary"><span class="glyphicon glyphicon-plus" aria-hidden="true"></span> Add</a>

    <script>
        require(["/Scripts/app/Course.controller.js", "/Scripts/app/Course.binding.js", 'moment', 'utils', 'underscore'], function (courseController, appViewModel, moment, utils, _) {
            utils.spinner.show();
            var promise = courseController.getCourses();

            promise.done(function (ajaxResult) {
                _.each(ajaxResult.courses, function (item) {
                    var model = ajaxResult.courses;

                    appViewModel.add(item);
                });

                utils.spinner.hide();
            });
        });
    </script>
</div>
